<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
    <link rel="stylesheet" th:href="@{/css/products.css}">

</head>
<body>
  <header>
    <h1>Product List</h1>
  </header>
  <main>
      <ul id="product-container">
          <li th:each="product : ${products}">
              <img id="product-image" src="/images/img.jpg" alt="Dress Image">
              <p id="product-name" th:text="${product.getName()}"></p>
              <p id="product-price" th:text="${product.getPrice()}"></p>
              <p id="product-size" th:text="'Size: ' + ${product.size}"></p>
              <form th:action="@{/addkart}" method="post">
                  <input type="hidden" name="productId" th:value="${product.getProductId()}">
                  <button type="submit">Add to Cart</button>
              </form>
          </li>
      </ul>
  </main>
</body>
</html>
